body {
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow-x: hidden;
  background-color: black;
}

section {
  background-color: #fccf17;
  color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 30px;
  padding-bottom: 100px;
  align-items: center;
}

section h1 {
  text-align: center;
  font-size: 32px;
}

section p {
  text-align: center;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.get__started__button__container {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.get__started__button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
  width: 150px;
  box-shadow: #707070 0px 0px 8px;
}

.get__started__button button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.penguin_desktop {
  position: relative;
  cursor: grab;
}

.penguin_desktop img {
  position: fixed;
  height: 30vh;
  right: 0;
  bottom: 45px;
}

.penguin_desktop img:active {
  cursor: grabbing;
}

.penguin_mobile {
  display: none;
}


footer {
  top: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  background-color: #1e1e1e;
  box-shadow: #707070 0px 0px 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}


@media screen and (max-width: 600px) {

  .get__started__button__container {
    flex-direction: column;
    gap: 20px;
  }

  .penguin_desktop {
    display: none;
  }

  .penguin_mobile {
    display: unset;
    position: relative;
  }

  .penguin_mobile img {
    position: fixed;
    bottom: 45px;
    height: 30vh;
    width: 100%;
    float: none;
  }
}
