@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

// Colors
$primary-color: #ffc020;
$secondary-color: #212121;
$black: #1e1e1e;
$white: white;
$red: #ff3e03;

// Fonts
$main-font: "Montserrat", sans-serif;