@import "../../styles/variables.scss";

.navbar {
  display: flex;
  height: 3.75rem;
  padding: 0rem 0.9375rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: $black;
  box-shadow: 0rem 0rem 1.25rem 0rem #00000040;
  z-index: 999;

  .navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    li {
      list-style: none;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}